body{
    background-color: #232b38;

}
.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 675px;
    width: 70%; /* Adjust width to fit alongside the cars */
    background-color: #232b38;
    border-radius: 40px;
    border: #ffffff 2px solid;
}

.chatbot-messages {
    width: 100%;
    max-width: 1025px;
    display: flex;
    flex-direction: column; /* Stack messages vertically */
    gap: 10px; /* Add spacing between messages */
    padding: 10px;
    background-color: #232b38;
    border-radius: 8px;
    height: 70vh;
    overflow-y: auto; /* Enable scrolling for long messages */
}

/* Custom scrollbar styles */
.chatbot-messages::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.chatbot-messages::-webkit-scrollbar-track {
    background: #232b38; /* Background of the scrollbar track */
    border-radius: 8px;
}

.chatbot-messages::-webkit-scrollbar-thumb {
    background-color: #bbbbbb; /* Color of the scrollbar thumb */
    border-radius: 8px;
    border: 3px solid white; /* Padding around the thumb */
}

.chatbot-messages::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa; /* Color of the scrollbar thumb on hover */
}

.message {
    margin: 10px 0;
    padding: 10px;
}

.message.user {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    align-self: flex-end; /* Align the message to the right */
    text-align: right; /* Align text within the bubble to the right */
    display: inline-block;
    border-radius: 30px;
}

.message.bot {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    align-self: flex-start;
    text-align: left;
    border-radius: 30px;
}

.chatbot-input {
    display: flex;
    width: 1050px;
    margin-top: 10px;
}

.chatbot-input input {
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: #000000;
}

.chatbot-input button {
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #232b38;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.chatbot-input button:hover {
    background-color: #4e5e78;
}